# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
# ===================================== #
#                          Custom ignore files                          #
# ===================================== #
Assets/CVVTuberExample
Assets/DlibFaceLandmarkDetector
Assets/Firebase
Assets/Live2D
Assets/OpenCVForUnity
Assets/Parse
Assets/PlayServicesResolver
Assets/Plugins
Assets/StreamingAssets
Assets/VRM
Assets/Prefabs
Assets/Scenes
Assets/csc.rsp
Assets/GoogleService-Info.plist
Assets/google-services.json
Assets/mcs.rsp
Assets/Editor Default Resources

Assets/CVVTuberExample.meta
Assets/DlibFaceLandmarkDetector.meta
Assets/Firebase.meta
Assets/Live2D.meta
Assets/OpenCVForUnity.meta
Assets/Parse.meta
Assets/PlayServicesResolver.meta
Assets/Plugins.meta
Assets/StreamingAssets.meta
Assets/VRM.meta
Assets/Prefabs.meta
Assets/Scenes.meta
Assets/csc.rsp.meta
Assets/GoogleService-Info.plist.meta
Assets/google-services.json.meta
Assets/mcs.rsp.meta
Assets/Editor Default Resources.meta


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
# for others   #
# ============ #

*.log #log files, for some plugins
*.pyc #python bytecode cache, for some plugins.
sysinfo.txt #Unity3D Generated File On Crash Reports